html {
    background: pink;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 0px 0px 15px black;
}

form {
    background: brown;
}

div#inputnumbers {
    display: inline-block;
}

h1 {
    font-size: 35px;
    line-height: 50px;
}

h2 {
    font-size: 25px;
    line-height:30px;
}

h3{
    font-size: 30px;
    line-height: 50px;
}

table {
    border: 10px solid black;
}
  
td {  
    padding: 10px;  
    border-radius: 15px;  
    border: 1px solid black;  
    background: rgb(91, 66, 49);
    text-align: center center;  
}  
  
th {  
    background-color: navy;  
    color: white;
    text-align: center;
    font-size: 12px;  
}