html {
    font-family: 'Boogaloo', cursive;
}

h1 {
    font-size: 35px;
    line-height: 50px;
}

h2 {
    font-size: 25px;
    line-height:30px;    
}

h3{
    font-size: 30px;
    line-height: 50px;
}

table {
    border: 10px solid black;  
}
  
td {  
    padding: 10px;  
    border-radius: 15px;  
    border: 1px solid black;  
    background: white;  
}  
  
th {  
    background-color: navy;  
    color: white;  
}