html {
    background: chocolate;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 0px 0px 10px black;
}

#behindheader {
    height: 100px;
    margin: 10px;
    border-bottom: 5px;
    padding: 10px;

}

header {
    border-bottom: 5px solid black;
    text-align: center;
    position: fixed;
    background-image: url(../img/fish.jpg);
    background-size: contain;
    width: 100%;
    height: 100px;
}

h1 header {
    text-alig
}


#upper {
    /* margin: 10px solid red;
    border: 3px solid blue;
    padding: 10px solid green; */
    display: inline;
}

.about {
    font-family: 'Times New Roman', Times, sans-serif;
    margin: 10px solid red;
    border: 3px solid blue;
    padding: 10px solid green;
}

.stores {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px solid red;
    border: 3px solid blue;
    padding: 10px solid green;
}

table {
    border: 10px solid black;
    font: white;  
}
  
td {  
    padding: 10px;  
    border-radius: 15px;  
    border: 1px solid black;  
    background: white;  
}  
  
th {  
    background-color: navy;  
    color: white;  
}

#family {
    font-style: italic;
    margin: 10px solid red;
    border: 3px solid blue;
    padding: 10px solid green;
    background-image: url(../img/family.jpg);
    background-size: contain;
}

#merch {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin: 10px solid red;
    border: 3px solid blue;
    padding: 10px solid green;
}